@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

html, body{
    font-family: Roboto Condensed;
    color: #000;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}
p{
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;

    min-width: 320px;
    max-width: 1202px;
    margin: 0 auto;
}

main.main{
    flex: 1 1 auto;
}

/* HEADER */
.navbar-nav .nav-link {
    color: #000 !important;
    font-weight: 400;
    font-size: 20px;
}

.header_menu-link:hover{
    text-shadow: 0 0 0.6px;
}

.header_menu-link_active{
    font-weight: 500 !important;
}

.navbar-toggler-icon {
    background-image: url(/img/menu.svg);
}
.navbar-toggler {
    border: none;
}

/* BANNER */
.banner_content p{
    font-weight: 400;
    font-size: 24px;
}

/* CARD */

.servicies_card{
    border: 2px solid #eaeaea;
    border-radius: 20px;
}

.servicies_card h3{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: #c91c98;
}

.servicies_card li{
    list-style-type: disc;
    font-weight: 300;
    color: #000;
}

.servicies_card:hover{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.btn-servicies{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px;
    color: black;
    background-color: white;
    border: 2px solid #C91C98;
    border-radius: 100px;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-servicies:hover{
    transform: scale(1.05);
}

/* FOOTER */
.footer_line{
    border: 1.5px solid #D5D4D4;
}

.nav_footer{
    font-weight: 400;
    font-size: 20px;
    gap: 1rem;
}

.contact_info{
    font-weight: 300;
}

.konf{
    font-weight: 300;
    font-size: 14px;
    color: #6b6a69;
}

.footer_menu-link:hover{
    text-shadow: 0 0 0.6px;
}

.footer_menu-link_active{
    font-weight: 500 !important;
}

@media (max-width: 767.98px) {
  .nav_footer {
    gap: 0rem;
  }
}