@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

html, body{
    font-family: Roboto Condensed;
    /* background-color: #F8F8F8; */
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}
p{
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;

    min-width: 320px;
    max-width: 1202px;
    margin: 0 auto;
}

main.main{
    flex: 1 1 auto;
}

.btn{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    color: black;
    background-color: white;
    border: 2px solid #C91C98;
    border-radius: 100px;
    padding: 5px 32px;
    text-align: center;
    transition: all 0.3s ease;
}

.btn:hover {
  color: black;
  background-color: white;
  border-color: #C91C98;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


/* HEADER */
.navbar-nav .nav-link {
  color: #000 !important;
  font-weight: 400;
  font-size: 20px;
}

.header_menu-link:hover{
    text-shadow: 0 0 0.6px;
}

.header_menu-link_active{
    font-weight: 500 !important;
}

.navbar-toggler-icon {
    background-image: url(/img/menu.svg);
}
.navbar-toggler {
    border: none;
}

/* BANNER */
.banner_content p{
    font-weight: 400;
    font-size: 24px;
}

/* LIST ADVANTAGES */
.tariffs_advantages {
  padding: 0;
  margin: 0;
}

.advantages {
  list-style: none; 
  padding-left: 0; 
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5; 
}

.advantages li {
  position: relative;
  padding-left: 1.5rem; 
font-weight: 300;
}

.advantage-title{
    font-weight: 400;
}

.advantages li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #C91C98; 
  font-size: 1.4em;
  line-height: 1;
  font-weight: bold;
}

/* TARIFF CARD */
.tariff-card{
    color: black;
    background-color: white;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.tariff-price {
   font-weight: 500;
   font-size: 30px; 
}

.properties{
    font-weight: 300;
    font-size: 24px;
    color: black;
    background-color: white;
    border: 2px solid #eaeaea;
    border-left: none;
    border-right: none;
}

/* FOOTER */
.footer_line{
    border: 1.5px solid #D5D4D4;
}

.nav_footer{
    font-weight: 400;
    font-size: 20px;
}

.contact_info{
    font-weight: 300;
}

.konf{
    font-weight: 300;
    font-size: 14px;
    color: #6b6a69;
}

.footer_menu-link:hover{
    text-shadow: 0 0 0.6px;
}

.footer_menu-link_active{
    font-weight: 500 !important;
}